parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\$className of method OCP\\\\EventDispatcher\\\\IEventDispatcher\\:\\:addServiceListener\\(\\) expects class\\-string\\<OCP\\\\EventDispatcher\\\\IEventListener\\<OCP\\\\EventDispatcher\\\\Event\\>\\>, 'OCA\\\\\\\\Integriq\\\\\\\\Flow\\\\\\\\FlowNodeListener' given\\.$#"
			count: 1
			path: lib/AppInfo/Application.php

		-
			message: "#^Call to an undefined method OCP\\\\IUserSession\\:\\:createSessionToken\\(\\)\\.$#"
			count: 1
			path: lib/Controller/UserController.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\EventListener\\\\CloudEventListener\\:\\:SELF_REGISTER is unused\\.$#"
			count: 1
			path: lib/EventListener/CloudEventListener.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\EventListener\\\\CloudEventListener\\:\\:SELF_SCHEMAS is unused\\.$#"
			count: 1
			path: lib/EventListener/CloudEventListener.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\EventListener\\\\ViewUpdatedOrCreatedEventListener\\:\\:SOFTWARE_CATALOG_REGISTER_ID is unused\\.$#"
			count: 1
			path: lib/EventListener/ViewUpdatedOrCreatedEventListener.php

		-
			message: "#^Parameter \\$status of method OCP\\\\AppFramework\\\\Http\\\\Response\\<int,array\\<string, mixed\\>\\>\\:\\:__construct\\(\\) expects 100\\|101\\|102\\|200\\|201\\|202\\|203\\|204\\|205\\|206\\|207\\|208\\|226\\|300\\|301\\|302\\|303\\|304\\|305\\|306\\|307\\|400\\|401\\|402\\|403\\|404\\|405\\|406\\|407\\|408\\|409\\|410\\|411\\|412\\|413\\|414\\|415\\|416\\|417\\|418\\|422\\|423\\|424\\|426\\|428\\|429\\|431\\|500\\|501\\|502\\|503\\|504\\|505\\|506\\|507\\|508\\|509\\|510\\|511, int given\\.$#"
			count: 1
			path: lib/Http/XMLResponse.php

		-
			message: "#^Method OCA\\\\Integriq\\\\Service\\\\AuthenticationService\\:\\:getHSJWK\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: lib/Service/AuthenticationService.php

		-
			message: "#^Method OCA\\\\Integriq\\\\Service\\\\AuthenticationService\\:\\:getRSJWK\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: lib/Service/AuthenticationService.php

		-
			message: "#^Instantiated class OC\\\\AppFramework\\\\Middleware\\\\Security\\\\Exceptions\\\\SecurityException not found\\.$#"
			count: 1
			path: lib/Service/AuthorizationService.php

		-
			message: "#^PHPDoc tag @throws with type OC\\\\AppFramework\\\\Middleware\\\\Security\\\\Exceptions\\\\SecurityException is not subtype of Throwable$#"
			count: 1
			path: lib/Service/AuthorizationService.php

		-
			message: "#^Offset 'connectionId' on array\\{consentGrantedAt\\: non\\-falsy\\-string, consentExpiresAt\\: string, accounts\\: array\\<int, mixed\\>, lifecycleState\\: 'active'\\} on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: lib/Service/BankfeedSyncService.php

		-
			message: "#^Offset 'connectionId' on array\\{expiryWarnedAt\\: non\\-falsy\\-string\\} on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: lib/Service/BankfeedSyncService.php

		-
			message: "#^Offset 'connectionId' on array\\{lastSyncAt\\: non\\-falsy\\-string\\} on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: lib/Service/BankfeedSyncService.php

		-
			message: "#^Offset 'connectionId' on array\\{lifecycleState\\: 'expired'\\} on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: lib/Service/BankfeedSyncService.php

		-
			message: "#^Offset 'connectionId' on array\\{lifecycleState\\: 'revoked'\\} on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: lib/Service/BankfeedSyncService.php

		-
			message: "#^Offset 'redirectUrl' on array\\{consentGrantedAt\\: non\\-falsy\\-string, consentExpiresAt\\: string, accounts\\: array\\<int, mixed\\>, lifecycleState\\: 'active'\\} on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: lib/Service/BankfeedSyncService.php

		-
			message: "#^Call to method export\\(\\) on an unknown class OCA\\\\Integriq\\\\Service\\\\ConfigurationHandlerInterface\\.$#"
			count: 6
			path: lib/Service/ConfigurationService.php

		-
			message: "#^Call to method import\\(\\) on an unknown class OCA\\\\Integriq\\\\Service\\\\ConfigurationHandlerInterface\\.$#"
			count: 6
			path: lib/Service/ConfigurationService.php

		-
			message: "#^Offset 'targetType' on array on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: lib/Service/ConfigurationService.php

		-
			message: "#^Offset 'type' on array on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 2
			path: lib/Service/ConfigurationService.php

		-
			message: "#^Property OCA\\\\Integriq\\\\Service\\\\ConfigurationService\\:\\:\\$handlers has unknown class OCA\\\\Integriq\\\\Service\\\\ConfigurationHandlerInterface as its type\\.$#"
			count: 1
			path: lib/Service/ConfigurationService.php

		-
			message: "#^Strict comparison using \\=\\=\\= between mixed and null will always evaluate to false\\.$#"
			count: 1
			path: lib/Service/DSOParserService.php

		-
			message: "#^Method OCA\\\\Integriq\\\\Service\\\\EndpointCacheService\\:\\:createEndpointRegex\\(\\) is unused\\.$#"
			count: 1
			path: lib/Service/EndpointCacheService.php

		-
			message: "#^Call to an undefined method OCP\\\\AppFramework\\\\Http\\\\Response\\:\\:getData\\(\\)\\.$#"
			count: 1
			path: lib/Service/EndpointService.php

		-
			message: "#^Class OC\\\\Files\\\\Node\\\\File not found\\.$#"
			count: 1
			path: lib/Service/EndpointService.php

		-
			message: "#^Empty array passed to foreach\\.$#"
			count: 1
			path: lib/Service/EndpointService.php

		-
			message: "#^Function request_parse_body not found\\.$#"
			count: 1
			path: lib/Service/EndpointService.php

		-
			message: "#^Method OCA\\\\Integriq\\\\Service\\\\EndpointService\\:\\:getObjects\\(\\) never returns OCP\\\\AppFramework\\\\Db\\\\Entity so it can be removed from the return type\\.$#"
			count: 1
			path: lib/Service/EndpointService.php

		-
			message: "#^Method OCA\\\\Integriq\\\\Service\\\\EndpointService\\:\\:parseContent\\(\\) is unused\\.$#"
			count: 1
			path: lib/Service/EndpointService.php

		-
			message: "#^Offset 'page' does not exist on array\\{results\\: array\\}\\.$#"
			count: 1
			path: lib/Service/EndpointService.php

		-
			message: "#^Offset 'pages' does not exist on array\\{results\\: array\\}\\.$#"
			count: 1
			path: lib/Service/EndpointService.php

		-
			message: "#^Offset 'total' does not exist on array\\{results\\: array\\}\\.$#"
			count: 1
			path: lib/Service/EndpointService.php

		-
			message: "#^PHPDoc tag @return with type array\\|null is not subtype of native type array\\.$#"
			count: 1
			path: lib/Service/EndpointService.php

		-
			message: "#^PHPDoc tag @throws with type GuzzleHttp\\\\Exception\\\\GuzzleException\\|OCA\\\\OpenRegister\\\\Exception\\\\ValidationException\\|OCP\\\\AppFramework\\\\Db\\\\DoesNotExistException\\|OCP\\\\AppFramework\\\\Db\\\\MultipleObjectsReturnedException\\|OCP\\\\Files\\\\InvalidPathException\\|OCP\\\\Files\\\\NotFoundException\\|Psr\\\\Container\\\\ContainerExceptionInterface\\|Twig\\\\Error\\\\LoaderError\\|Twig\\\\Error\\\\SyntaxError is not subtype of Throwable$#"
			count: 1
			path: lib/Service/EndpointService.php

		-
			message: "#^Function request_parse_body not found\\.$#"
			count: 1
			path: lib/Service/Helper/FlowToken.php

		-
			message: "#^Offset 'errorRetention' on array\\{lastRun\\: non\\-falsy\\-string, nextRun\\?\\: non\\-falsy\\-string\\} on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: lib/Service/JobService.php

		-
			message: "#^Offset 'interval' on array\\{lastRun\\: non\\-falsy\\-string\\} on left side of \\?\\? does not exist\\.$#"
			count: 2
			path: lib/Service/JobService.php

		-
			message: "#^Offset 'isSingleRun' on array\\{lastRun\\: non\\-falsy\\-string, nextRun\\?\\: non\\-falsy\\-string\\} on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: lib/Service/JobService.php

		-
			message: "#^Offset 'logRetention' on array\\{lastRun\\: non\\-falsy\\-string, nextRun\\?\\: non\\-falsy\\-string\\} on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: lib/Service/JobService.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: lib/Service/JobService.php

		-
			message: "#^Strict comparison using \\=\\=\\= between false and true will always evaluate to false\\.$#"
			count: 1
			path: lib/Service/JobService.php

		-
			message: "#^Strict comparison using \\=\\=\\= between true and false will always evaluate to false\\.$#"
			count: 1
			path: lib/Service/MappingService.php

		-
			message: "#^Call to an undefined method OCP\\\\DB\\\\IResult\\:\\:fetchAllAssociative\\(\\)\\.$#"
			count: 1
			path: lib/Service/Migration/LegacyToRegisterMigrator.php

		-
			message: "#^Call to an undefined method OCP\\\\DB\\\\IResult\\:\\:fetchAssociative\\(\\)\\.$#"
			count: 5
			path: lib/Service/Migration/LegacyToRegisterMigrator.php

		-
			message: "#^Cannot cast OCP\\\\DB\\\\IResult to int\\.$#"
			count: 2
			path: lib/Service/Migration/LegacyToRegisterMigrator.php

		-
			message: "#^Offset 'skipped' on array\\{slug\\: bool\\|string, legacyCount\\: int, migratedCount\\: int, skipped\\: int, fkRewrites\\: int, error\\?\\: non\\-falsy\\-string, elapsedMs\\: int\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: lib/Service/Migration/LegacyToRegisterMigrator.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:BRON is unused\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:PROPERTY_DEFINITIONS is unused\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:PROP_DATUM_EXPORT is unused\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:PROP_EXTERN_PAKKET is unused\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:PROP_OBJECT_ID is unused\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:PROP_OMSCHRIJVING is unused\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:PROP_SWC_TYPE is unused\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:PROP_TITEL_VIEW is unused\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:PROP_VERBINDINGSROL is unused\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Constant OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:RELATION_IDS is unused\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Method OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:processCustomConnectionsRule\\(\\) never returns array so it can be removed from the return type\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Method OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:processNodes\\(\\) is unused\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^PHPDoc tag @throws with type GuzzleHttp\\\\Exception\\\\GuzzleException\\|OCA\\\\OpenRegister\\\\Exception\\\\ValidationException\\|OCP\\\\AppFramework\\\\Db\\\\DoesNotExistException\\|OCP\\\\AppFramework\\\\Db\\\\MultipleObjectsReturnedException\\|OCP\\\\DB\\\\Exception\\|Psr\\\\Container\\\\ContainerExceptionInterface\\|Twig\\\\Error\\\\LoaderError\\|Twig\\\\Error\\\\SyntaxError is not subtype of Throwable$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Property OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:\\$registerMapper is never read, only written\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Property OCA\\\\Integriq\\\\Service\\\\RuleService\\:\\:\\$registerResolver is never read, only written\\.$#"
			count: 1
			path: lib/Service/RuleService.php

		-
			message: "#^Access to an undefined property OCA\\\\Integriq\\\\Service\\\\SearchService\\:\\:\\$directoryService\\.$#"
			count: 1
			path: lib/Service/SearchService.php

		-
			message: "#^Access to an undefined property OCA\\\\Integriq\\\\Service\\\\SearchService\\:\\:\\$elasticService\\.$#"
			count: 1
			path: lib/Service/SearchService.php

		-
			message: "#^Offset 'objectUri' on array\\{attempts\\: non\\-empty\\-array, status\\: 'failed', detail\\: string\\} on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: lib/Service/SmsDispatchService.php

		-
			message: "#^Anonymous function has an unused use \\$deferred\\.$#"
			count: 1
			path: lib/Service/SoftwareCatalogueService.php

		-
			message: "#^Anonymous function has an unused use \\$openRegister\\.$#"
			count: 2
			path: lib/Service/SoftwareCatalogueService.php

		-
			message: "#^Access to an undefined property OCA\\\\Integriq\\\\Service\\\\StorageService\\:\\:\\$userSession\\.$#"
			count: 1
			path: lib/Service/StorageService.php

		-
			message: "#^Call to an undefined method OCP\\\\Files\\\\Node\\:\\:get\\(\\)\\.$#"
			count: 1
			path: lib/Service/StorageService.php

		-
			message: "#^Call to an undefined method OCP\\\\Files\\\\Node\\:\\:newFile\\(\\)\\.$#"
			count: 2
			path: lib/Service/StorageService.php

		-
			message: "#^Call to an undefined method OCP\\\\Files\\\\Node\\:\\:newFolder\\(\\)\\.$#"
			count: 1
			path: lib/Service/StorageService.php

		-
			message: "#^Parameter \\$folderContents of method OCA\\\\Integriq\\\\Service\\\\StorageService\\:\\:attemptCloseUpload\\(\\) expects array\\<OC\\\\Files\\\\Node\\\\Node\\>, array\\<OCP\\\\Files\\\\Node\\> given\\.$#"
			count: 1
			path: lib/Service/StorageService.php

		-
			message: "#^Parameter \\$folderContents of method OCA\\\\Integriq\\\\Service\\\\StorageService\\:\\:attemptCloseUpload\\(\\) has invalid type OC\\\\Files\\\\Node\\\\Node\\.$#"
			count: 1
			path: lib/Service/StorageService.php

		-
			message: "#^Binary operation \"\\.\" between 'now \\+' and array\\<int\\> results in an error\\.$#"
			count: 1
			path: lib/Service/SynchronizationService.php

		-
			message: "#^Call to function in_array\\(\\) with arguments 0, array\\<int\\|string, array\\<int\\>\\> and true will always evaluate to false\\.$#"
			count: 1
			path: lib/Service/SynchronizationService.php

		-
			message: "#^Call to function is_array\\(\\) with non\\-empty\\-string will always evaluate to false\\.$#"
			count: 1
			path: lib/Service/SynchronizationService.php

		-
			message: "#^Method OCA\\\\Integriq\\\\Service\\\\SynchronizationService\\:\\:getFilenameFromHeaders\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: lib/Service/SynchronizationService.php

		-
			message: "#^Offset 'targetId' on array on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: lib/Service/SynchronizationService.php

		-
			message: "#^Strict comparison using \\=\\=\\= between false and true will always evaluate to false\\.$#"
			count: 2
			path: lib/Service/SynchronizationService.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string and false will always evaluate to false\\.$#"
			count: 1
			path: lib/Service/SynchronizationService.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string and true will always evaluate to false\\.$#"
			count: 1
			path: lib/Service/SynchronizationService.php

		-
			message: "#^Strict comparison using \\=\\=\\= between true and false will always evaluate to false\\.$#"
			count: 3
			path: lib/Service/SynchronizationService.php

		-
			message: "#^Variable \\$synchronizationContractResult on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: lib/Service/SynchronizationService.php

		-
			message: "#^Class OC\\\\Files\\\\Node\\\\File not found\\.$#"
			count: 1
			path: lib/Twig/MappingRuntime.php

