<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"
    failOnWarning="true"
    failOnRisky="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Force Nextcloud to run in CLI mode -->
        <const name="PHPUNIT_RUN" value="1"/>
    </php>
</phpunit>
